name: build-verified-dist
on: workflow_dispatch
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']
    name: Build and generate verification
    # Set the type of machine to run on
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - run: pip install -r requirements_dev.txt pyinstaller
      - run: pyinstaller hognose.py
      - run: ./dist/hognose/hognose
      - name: Upload executable
        uses: actions/upload-artifact@v2
        with:
          path: dist/*
      - name: Verify build
        uses: dlorenc/verifyme/action@main
        with:
          filepath: main.go
      - name: Upload signatures
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: verified-output/*
