name: make-dist
on: workflow_dispatch
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'ubuntu-latest']
    name: Build and upload distributions
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: pip install -r requirements.txt pyinstaller
      - run: pyinstaller --onefile hognose.py
      - name: Extract Version
        id: get_version
        run: echo "version=$(./dist/hognose -v)" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v4
        with:
          name: hognose-${{ steps.get_version.outputs.version }}-${{ matrix.os }} 
          path: dist/*